<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Probearbeit</title>
    <link rel="stylesheet" href="../css/Basic.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="all-categories">
      <p>Alle Kategorien</p>
    </div>

    <div id="category-modal">
      <div class="close-modal"><span>&times;</span></div>
      <p>Alle Kategorien</p>
      <div id="category-container">
        <div class="category active">
          <h4>Karrierewege</h4>
        </div>
        <div class="category">
          <h4>Promotion</h4>
        </div>
        <div class="category">
          <h4>Habilitation</h4>
        </div>
        <div class="category">
          <h4>Juniorprofessur</h4>
        </div>
        <div class="category">
          <h4>Berufs-<br>verfahren</h4>
        </div>
        <div class="category">
          <h4>Arbeitsplatz</h4>
        </div>
        <div class="category">
          <h4>Familie, Partnerschaft, Alltag</h4>
        </div>
        <div class="category">
          <h4>Mobilität</h4>
        </div>
        <div class="category">
          <h4>Blick aus dem Ausland</h4>
        </div>
        <div class="category">
          <h4>Allgemein</h4>
        </div>
      </div>
      <div id="category-description">
        <div>
          <h2>Karriereweg</h2>
          <p>Der Weg zur Professur ist nicht nur steinig, sondern auch vielfältig: befristete oder unbefristete Stellen, Stellen an Universitäten oder außeruniversitären Forschungseinrichtungen, Stellen im In- oder Ausland, Stipendien, Nachwuchsgruppen - welcher Weg lässt sich am besten mit Familie und Partnerschaft vereinbaren? Was sind die Voraussetzungen dafür, dass sich wissenschaftliche Karriere auf der einen Seite und Familie und Partnerschaft aus der anderen Seite unter einen Hut bringen lassen?</p>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>

<script type="text/javascript" src="../js/vendor/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../js/services.js"></script>
<script type="text/javascript" src="../js/main.js"></script>
  </body>
</html>
